---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: {{ include "project.name" . }}
rules:
- apiGroups:
  - ""
  resources:
  - endpoints
  - namespaces
  - nodes
  - pods
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - daemonsets
  - deployments
  - replicasets
  - statefulsets
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - cronjobs
  - jobs
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - get
  - update
- apiGroups:
  - koffloader.koffloader.io
  resources:
  - kclustergroups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - koffloader.koffloader.io
  resources:
  - kclustergroups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - koffloader.koffloader.io
  resources:
  - kclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - koffloader.koffloader.io
  resources:
  - kclusters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - koffloader.koffloader.io
  resources:
  - serviceexportpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - koffloader.koffloader.io
  resources:
  - serviceexportpolicies/status
  verbs:
  - get
  - patch
  - update
